/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root{
    --text-color: #083741;
    --landing-text: #215C51;
    --body-color:  #fff;
    --login-btn: whitesmoke;
    --dark-btn: #fff;
    --nav-bar: #fff;
  }

[data-theme=dark] {
  --body-color:  #1a1a1a;
  --landing-text: #2f8071;
  --text-color: rgb(241, 241, 241);
  --login-btn: #303030;
  --dark-btn: #000000;
  --nav-bar: #303030;
  }

/* ===== Dark Mode ===== */

.view-mode{
  z-index: 11111;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-btn);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 2s;
}

.view-mode .icon{
  color: var(--text-color);
  font-size: 1.7rem;
}
/* ===== Dark Mode Ending ===== */


html,body{
    margin: 0px !important;
    padding: 0px !important;
    background-color: var(--body-color);
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
    cursor: default;
    transition: 2s;
  }

/* To All */
*{
    text-decoration: none;
    list-style: none;
}

/* -----## Nav bar ##----- */
.nav-bar{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: var(--nav-bar);
    transition: 2s;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ##### Nav Logo ##### */
.nav-bar h4{
    font-size: 22px;
    font-weight: 600;
    margin-left: 25px;
    color: var(--text-color);
    transition: 2s;
}

/* ##### Nav links ##### */
.links .menu{
    margin-left: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    position: relative;
}

.nav-bar .links .mainlinks{
    margin-right: 45px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    display: block;
    padding: 10px 0;
}

/* ##### Nav SubMenu ##### */

.inter-submenu{
  position: absolute;
  background: var(--body-color);
  border-radius: 10px;
  top: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}

.inter-submenu .submenu{
  display: block;
  color: var(--text-color);
  padding: 5px 15px;
}

.inter-submenu .submenu:hover{
  background: rgba(51, 176, 253, 0.541);
}

.nav-bar li:hover .inter-submenu{
  display: block;
}

.inter-submenu .submenu .img1>img{
  height: 50px;
  width: 50px;
  padding-top: 5px;
}

/* ##### Nav btn log-Reg ##### */
.nav-button a{
    margin-right: 15px;
}

.reg{
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    padding: .15rem 1rem;
}
  
.reg{
    background: #215C51;
    background-clip: padding-box;
    color: whitesmoke;
    transition: .8s ease;
    border-radius:5px;
}

.nav-button .reg:hover{
  background: var(--login-btn);
  background-clip: padding-box;
  color: var(--text-color);
  border-radius:5px;
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
  border-color: #215C51;
}

.reg::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #215C51;
    content:"";
    z-index: -1;
    border-radius: 5px;
}

/* ##### Nav Login btn ##### */
.log{
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    padding: .15rem 1rem;
    color: var(--text-color);
    transition: 2s;
}

.log{
    background: var(--login-btn);
    background-clip: padding-box;
    transition: .5s ease;
    border-radius: 5px;
}

.log:hover{
    background: #215C51;
    color: whitesmoke;
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
    border-radius: 5px;
}

.log::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #215C51;
    content:"";
    z-index: -1;
    border-radius: 5px;
}


/* ##### Landing Page ##### */

.landing-page{
  background-image: linear-gradient(#66be92,#ffffff00);
  height: 100%;
  width: 100%;
}

.landing-page .landing-img > img{
  display: flex;
  height: 55%;
  width: 55%;
  margin: 0 auto;
  margin-top: 60px;
}

.landing-page .landing-text h1{
  font-size: 70px;
  text-align: center;
  margin-top: 0;
  line-height: 70px;
  color: var(--landing-text);
}

.landing-page .landing-text p{
  text-align: center;
  margin-top: -30px;
  font-size: 18px;
  color: var(--landing-text);
}

/* Landing Page Ending */

/* ##### Sub-Section ##### */

.sub-section {
  margin-top: 6rem;
  display: flex;
  align-items: center;

}

.sub-section .sub-section-img > img {
  height: 60%;
  width: 60%;
  padding-left: 10rem;
}

.sub-section .sub-section-text{
  margin-right: 200px;
}

.sub-section .sub-section-text h6{
  color: rgba(255, 0, 0, 0.750);
  font-weight: 500;
  font-size: 15px;
}

.sub-section .sub-section-text h2{
  font-size: 25px;
  margin-top: -30px;
  color: var(--text-color);
}

.sub-section .sub-section-text p{
  color: var(--text-color);
}


                         /* ##### Responsive For Moblie ##### */

@media screen and (max-width: 767px) {

/* ===== Dark Mode Button ===== */

 .view-mode{
  z-index: 11111;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
 }

 .view-mode .icon{
  font-size: 1.5rem;
 }
 /* ===== Dark Mode Ending ===== */

 /* Nav Logo */
 .nav-bar h4{
  font-size: 20px;
  font-weight: 600;
  margin-left: 1px;
  color: var(--text-color);
  transition: 2s;
 }

 
 .links .menu{
  display: none;
 }

 .nav-button a{
  margin-right: 5px;
}

.reg{
  padding: .06rem .50rem;
}

.log{
  padding: .06rem .50rem;
}
 

/* ##### Landing Page ##### */

.landing-page .landing-img > img{
    display: flex;
    height: 95%;
    width: 95%;
    margin: 0 auto;
    padding-top: 100px;
}

.landing-page .landing-text h1{
    font-size: 35px;
    text-align: center;
    margin-top: 1rem;
    line-height: 35px;
    color: var(--landing-text);
}

.landing-page .landing-text p{
    text-align: center;
    margin-top: -10px;
    font-size: 12px;
    color: var(--landing-text);
}

/* Landing Page Ending */

/* ##### Sub-Section ##### */

.sub-section {
  margin-top: 6rem;
  display: block;
}

.sub-section .sub-section-img > img {
  height: 60%;
  width: 60%;
  padding-left: 4.5rem;
}

.sub-section .sub-section-text{
  display: inline;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.sub-section .sub-section-text h6{
  color: rgba(255, 0, 0, 0.750);
  font-weight: 500;
  font-size: 18px;
}

.sub-section .sub-section-text h2{
  font-size: 30px;
  margin-top: -30px;
}

}

/* Responsive For Moblie */

                         /* ##### Responsive For Tablet ##### */

@media (min-width: 768px) and (max-width: 990px) {

  /* ##### Nav Logo ##### */
 .nav-bar h4{
  font-size: 18px;
  font-weight: 600;
  margin-left: 1px;
  color: var(--text-color);
  transition: 2s;
 }

 
 .links .menu{
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  position: relative;
 }

 .nav-bar .links .mainlinks{
  margin-right: 12px;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  display: block;
  padding: 10px 0;
 }

 .nav-button a{
  margin-right: 4px;
}

 .reg{
  padding: .06rem .50rem;
 }

 .log{
  padding: .06rem .50rem;
 }

/* ##### Landing Page ##### */

.landing-page .landing-img > img{
  display: flex;
  height: 95%;
  width: 95%;
  margin: 0 auto;
  padding-top: 100px;
}

.landing-page .landing-text h1{
  font-size: 55px;
  text-align: center;
  margin-top: 1rem;
  line-height: 55px;
  color: var(--landing-text);
}

.landing-page .landing-text p{
  text-align: center;
  margin-top: -10px;
  font-size: 20px;
  color: var(--landing-text);
}

/* Landing Page Ending */

}