/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* To All */

html,body{
    margin: 0px !important;
    padding: 0px !important;
    background-color: rgb(240, 240, 240);
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden !important;
    cursor: default;
    transition: 2s;
}

*{
    text-decoration: none;
    list-style: none;
}

/*===== Colores =====*/
:root{
    --Blue-color: #0077B5;
  }

/* To All Ending */

@media screen and (min-width: 768px){

    .only-desktop{
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
    }

    .only-desktop .des-info{
        transform: translate(20%,40%);
    }
    
    .only-desktop .des-info h1{
        font-size: 30px;
        max-width: 50%;
        line-height: 35px;
        font-weight: 800;
        letter-spacing: 1px;
    }

    .only-desktop .des-info p{
        font-size: 15px;
        max-width: 50%;
        line-height: 20px;
        font-weight: 500;
        color: #808080;
        letter-spacing: 1px;
    }

    .only-desktop .des-img{
        height: 50%;
        width: 50%;
        transform: translate(-20%,10%);
    }

    .header{
        display: none;
    }

    .Main-Section{
        display: none;
    }

    .Home-section{
        display: none;
    }

    .post_card{
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .only-desktop{
        display: none;
    }


/* Head Section */

.header{
    background-color: var(--Blue-color);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border: none;
    z-index: 11111;
}

.back-btn{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 25px;
    color: white;
}

.searchform {
    display: block;
    padding-top: 10px;
    overflow: hidden;
    width: 60%;
    margin-top: -2px;
    margin-left: 100px;
}

  label, input {
    vertical-align: baseline;
    color: white;
}

  label {
    margin-top: -3px;
    float: left;
}

  ::-webkit-input-placeholder{
      color: #fff;
}

  input[type="search"] {
    border: none;
    background-color: transparent;
    font: 15px "Open Sans", sans-serif;
    width: 85%;
    float: left;
}
  
  input[type="search"]:focus {
    color: #ffffff;
    border-color: #ffffff;
    outline: none;
}

.dots{
    padding-top: 13px;
    padding-right: 15px;
    font-size: 30px;
    color: white;
}


/* Cover Image */

.Main-Section{
    background-color: rgb(250, 250, 250);
    padding-bottom: 1px;
    margin-top: 60px;
}

.cover-img > img{
    height: 85px;
    width: 100%;
}

/* Profile Image */

.profile-pic{
    display: flex;
    justify-content: space-between;
}

.profile-pic h4{
    color: gray;
    margin-right: 15px;
    font-weight: 500;
    margin-top: -0px;
}


.profile-pic > img{
    height: 55px;
    width: 55px;
    padding: 5px 5px;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-top: -38px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Profile Info Section */

.profile-info{
    margin-left: 15px;
    margin-top: -20px;
}

.profile-info h1{
    font-weight: 400;
}

.profile-info h5{
    color: gray;
    font-size: 15px;
    font-weight: 400;
    margin-top: -16px;
}

.profile-info h4{
    font-weight: 400;
    font-size: 14px;
    margin-top: -16px;
}

/* Visit Website Button */

.visit-button{
    text-align: center;
    margin-top: -11px;
    padding: 0 15px;
}

.visit-btn{
    border: 2px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    padding: .15rem;
    width: 100%;
    background: var(--Blue-color);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/* Connection Section */

.connection{
    display: flex;
}

.connection .group-icon > img {
    height: 40%;
    width: 45%;
    padding-top: 18px;
    padding-left: 15px;
}

.connection h4{
    font-size: 14px;
    color: #808080;
}

.connection span{
    font-size: 14px;
    font-weight: 400;
}

/* nav_Menu Section */

.nav_menu .nav_list{
    display: flex;
    justify-content: space-around;
    padding: 0 2px;
    margin-bottom: 1rem;
}

.nav_menu .nav_list .nav_link{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #808080;
    padding: 0 13px;
}

.nav_menu .nav_list .nav_link:hover{
    position: relative;
    color: var(--Blue-color);
}

.nav_link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    color: var(--Blue-color);
    background-color: var(--Blue-color);
}

.nav_list .nav_item .active{
    color: var(--Blue-color);
}

/*Active menu*/
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    color: var(--Blue-color);
    background-color: var(--Blue-color);
}

/* Sub-Section Start */


.data-sections{
    display: flex;
    
}

.Home-section{
    margin-bottom: 20px;
}

.post{
    background-color: rgb(250, 250, 250);
    margin-top: -5px;
    padding-bottom: 1px;
    padding-right: 15px;
}

.post h1{
    padding-left: 15px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 5px;
}

.post_menu .post_list{
    display: flex;
    justify-content: space-evenly;
    margin-top: -5px;
    padding-right: 8px;
}

.post_item{
    padding-right: 10px;
}

.post_menu .post_list a{
    position: relative;
    background-color: #e4e4e4;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(88, 88, 88);
}

.post_menu .post_list .post_link:hover{
    position: relative;
    background-color: #8a8a8a;
    color: white;
}

.post_link:hover::after{
    position: absolute;
    background-color: #8a8a8a;
    color: white;
}

.post_list .post_item .active2{
    background-color: #8a8a8a;
    color: white;
}

/* About Section */

.about-section{
    margin-top: -5px;
    margin-left: 1px;
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 10px;
}

.about-area{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.about-section .about-area .heading{
    padding: 0 15px;
}

.about-section .about-area .heading h1{
    font-size: 18px;
    font-weight: 500;
    padding-top: 5px;
}

.about-section .about-area p{
    color: #808080;
}

.about-area .other-details{
    padding: 0 15px;
}

table{
    width: 100%;
    font-size: 17px;
    color: #808080;
}

tr{
    height: 40px;
}

.Location{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    margin-top: -5px;
}

.Location h1{
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
}

.Location .prim{
    padding: 2px 10px;
    width: 70px;
    height: 28px;
    background-color: #ececec;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

.Location .headquaters{
    line-height: 1px;
}

.Location p{
    font-size: 18;
    line-height: 5px;
}

.Location h2{
    line-height: 5px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
    color: #0077B5;
}


/* Job Section */

.Job-section{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.create-job{
    display: flex;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    padding-left: 15px;
}

.create-job h1{
    font-size: 20px;
    font-weight: 500;
}

.bell-icon{
    font-size: 25px;  
}

.add-icon{
    padding-left: 18px;
    font-size: 35px;
    color: #0077B5;
}

.job-post{
    margin-top: 8px;
    background-color: rgb(250, 250, 250);
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); */
    text-align: center;
    padding-bottom: 10px;
}

.job-post .suticase{
    padding-top: 25px;
    height: 25%;
    width: 25%;
}

.job-post h1{
    font-size: 25px;
    font-weight: 500;
}

.job-post p{
    font-size: 18px;
    font-weight: 400;
    padding: 0 15px;
    color: #808080;
}

/* People Section */

.People-section{
    margin-top: -10px;
    width: 100%;
    margin-bottom: 20px;
}

.people-heading{
    background-color: rgb(250, 250, 250);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.people-heading h1{
    padding: 15px 15px;
    font-size: 25px;
    font-weight: 400;
}

.employees{
    margin-top: -10px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
}

.employees h1{
    font-size: 20px;
    font-weight: 600;
}

.employees p{
    font-size: 16px;
    font-weight: 400;
    margin-top: -15px;
}


/*Active menu*/
.active2::after{
    position: absolute;
    background-color: #8a8a8a;
    color: white;
}

/* Card Section */

.post_card{
    background-color: rgb(250, 250, 250);
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: .5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.head{
    display: flex;
}

.head .pro-pic > img{
    height: 70%;
    width: 70%;
    padding-left: 15px;
    padding-top: 15px;
}

.pro-info{
    padding-top: 8px;
    margin-right: 210px;
    line-height: 1px;
}

.pro-info h1{
    font-size: 20px;
    font-weight: 500;
}
.pro-info h4{
    font-size: 10px;
    font-weight: 500;
    color: #808080;
}

.pro-info .globe-img{
    height: 15%;
    width: 15%;
}

.down{
    padding-right: 20px;
    padding-top: 15px;
}

.down .down-icon{
    font-size: 28px;
    color: #808080;
}

.middle{
    padding: 0 15px;
}
.middle p{
    font-size: 15px;
    font-weight: 400;
}

.middle > img{
    height: 50%;
    width: 50%;
    padding: 0 25%;
    margin-top: -15px;
}

.web_link{
    background-color: #eeeeee;
    margin-top: -22px;
}
.web_link h1{
    padding-left: 15px;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 500;
}

.web_link h2{
    color: #5c5c5c;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 5px;
}

.like-section{
    padding-left: 15px;
    margin-top: -10px;
}

.like-section .like-icon{
    background-color: #0077B5;
    border-radius: 60px;
    padding: 3px 3px;
}

.like-section h4{
    font-size: 14px;
    font-weight: 500;
}

.like-section span{
    color: #5c5c5c;
}

.like-section .comment{
    float: right;
    padding-right: 25px;
    margin-top: -38px;
    color: #5c5c5c;
}
hr.line{
    border: none;
    height: 1px;
    width: 90%;
    background: #ddd;
}

.group{
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
}

.group h4{
    margin-top: -5px;
    color: #808080;
    font-size: 15px;
    font-weight: 400;
}

.group .like .lik{
    color: #808080;
    margin-left: 5px;
}

.group .comment .com{
    color: #808080;
    margin-left: 25px;
}

.group .share .sha{
    color: #808080;
    margin-left: 12px;
}

.group .send .sen{
    color: #808080;
    margin-left: 10px;
}


}
