/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* To All */

html,body{
    margin: 0px !important;
    padding: 0px !important;
    background-color: rgb(192, 192, 192);
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden !important;
    cursor: default;
    transition: 2s;
  }

*{
    text-decoration: none;
    list-style: none;
}

/*===== Colores =====*/
:root{
    --Blue-color: #0077B5;
  }

/* To All Ending */

@media screen and (max-width: 767px) {

.Main-Section{
    background-color: rgb(250, 250, 250);
    padding-bottom: 1px;
}

/* Head Section */
.back-btn{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 25px;
    color: white;
}

.dots{
    padding-top: 12px;
    padding-right: 15px;
    font-size: 30px;
    color: white;
}

.header{
    background-color: var(--Blue-color);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



/* Cover Image */
.cover-img > img{
    height: 85px;
    width: 100%;
}

/* Profile Image */

.profile-pic{
    display: flex;
    justify-content: space-between;
}

.profile-pic h4{
    color: gray;
    margin-right: 15px;
    font-weight: 500;
}


.profile-pic > img{
    height: 55px;
    width: 55px;
    padding: 5px 5px;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-top: -38px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Profile Info Section */

.profile-info{
    margin-left: 15px;
    margin-top: -20px;
}

.profile-info h1{
    font-weight: 400;
}

.profile-info h5{
    color: gray;
    font-size: 16px;
    font-weight: 400;
    margin-top: -15px;
}

.profile-info h4{
    font-weight: 400;
    font-size: 16px;
    margin-top: -15px;
}

}
